<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">

      <ul class="unstyled inline">
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=jazzido&repo=tabula&type=fork&count=true"allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=jazzido&repo=tabula&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </li>
      </ul>
      <div class="hero-unit" style="padding-left:50px;">
        <img src="/img/logo.png" class="big-retina-illustration pull-left" style="margin:10px 10px 0 0; width:70px;">
        <h1>Tabula </h1>
        <p>Liberate data tables trapped inside PDF files</p>
      </div> <!-- /hero-unit -->

      <div id="demo">

        <div class="row-fluid">
          <div class="span6">
            <div class="page-header">
              <h4>Upload a PDF</h4>
            </div>
            <form action="/upload" enctype="multipart/form-data" method="post">
              <input name="file" type="file" id="file" accept="application/pdf">
              <input type="submit" class="btn btn-primary" value="Submit">
            </form>
          </div>

          <div class="span6">
            <div class="page-header">
              <h4>Check the examples</h4>
            </div>
            <ul>
              <li><a href="/pdf/ad73f7d4e9052b80dfb8683db3699d7cb7af1555">Voting records</a></li>
              <li><a href="/pdf/ec860ed5badca1743445c5418f32018d3cce651e">Municipal budget</a></li>
              <li><a href="/pdf/ebb9846e74d72cbb268105f4ff13291ea3c512e8">US Budget 2013</a></li>
              <li><a href="/pdf/5e72710acc8bbe38322806df74a3b54baad38542">State subsidies</a></li>
            </ul>
          </div>
        </div>
      </div>

      <br><br><hr>


      <p><strong>Tabula</strong> was created by <a href="http://jazzido.com/" target="_blank">Manuel Aristarán</a> with the help of <a href="http://propublica.org">ProPublica</a>, <a href="http://blogs.lanacion.com.ar/data/">La Nación DATA</a> and <a href="http://www.mozillaopennews.org/">Knight-Mozilla OpenNews</a></p>

      <p>Learn more about this project on <a href="http://source.mozillaopennews.org">Source</a>: <a href="http://source.mozillaopennews.org/en-US/articles/introducing-tabula/"><strong>"Introducing Tabula"</strong></a></p>

    </div>
  </div>
</div>
