<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">
      <div class="hero-unit">
        <h1>Tabula</h1>
        <p>Tabula helps you liberate data tables trapped inside evil PDFs</p>
        <p>Upload a PDF...</p>
        <form action="/upload" enctype="multipart/form-data" method="post">
          <div class="control-group">
            <div class="controls">
              <input name="file" type="file" id="file" accept="application/pdf"> <input type="submit" class="btn btn-primary" value="Submit">
            </div>
          </div>
        </form>
        <p>...or check the examples:</p>
        <ul>
          <li><a href="/pdf/ad73f7d4e9052b80dfb8683db3699d7cb7af1555">Voting records</a></li>
          <li><a href="/pdf/17d0a92027e34100af9cb69e91463090c8495eb8">2011 Argentinian Primary Election Results</a></li>
          <li><a href="/pdf/ec860ed5badca1743445c5418f32018d3cce651e">Municipal budget</a></li>
          <li><a href="/pdf/213edb188aaef0add7659a4dd7775e312bfc0db0">GRE scores</a></li>
	  <li><a href="/pdf/ebb9846e74d72cbb268105f4ff13291ea3c512e8">US Budget 2013</a></li>
        </ul>
        <p><strong>Tabula</strong> is created and mantained by <a href="http://twitter.com/manuelaristaran" target="_blank">Manuel Aristarán</a></p>
      </div> <!-- /hero-unit -->
    </div>
  </div>
</div>
