<!doctype html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />
    <link rel="stylesheet" type="text/css" href="/css/tabula_web.css" />
    <title>Tabula</title>
  </head>
  <body data-spy="scroll" data-target=".nav.sidebar-nav" data-offset="0">

    <% if req.path != "/" %>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><strong>Tabula</strong> is experimental software</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="#about" rel="popover" data-html="true" data-placement="bottom" data-content="<p><strong>Tabula</strong> is a tool to help liberate data tables trapped inside PDF files</p><br><p>It was created by <a href='http://jazzido.com' target='_blank'>Manuel Aristarán</a> with the help of <a href='http://propublica.org'>ProPublica</a>, <a href='http://blogs.lanacion.com.ar/data/'>La Nación DATA</a> and <a href='http://www.mozillaopennews.org/'>Knight-Mozilla OpenNews</a></p>" data-title="What is <strong>Tabula</strong>?">About</a></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <% else %>
    <a href="https://github.com/jazzido/tabula"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    <% end %>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.imgareaselect.js"></script>
    <script type="text/javascript" src="/js/jcanvas.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function() {
          $("a[href='#about']").popover();
      });
    </script>

    <br>    <br>    <br>
    <%= content %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-68057-19']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
