        <button id="all-data" type="button" class="btn btn-success" data-position="left" data-intro="When you've selected all of the tables in your PDF, click this button to preview the data from all of the selections and download it." disabled="disabled">Download All Data</button>
        <!-- <button id="repeat-lassos" type="button" class="btn btn-primary">Repeat Page 1 Lassos</button> -->
        <button id="clear-all-selections" type="button" class="btn btn-danger" disabled="disabled">Clear All Selections</button>
        <button id="restore-detected-tables" type="button" class="btn btn-warning" style="display: none;">Autodetect Tables</button>
        <br /><input type="checkbox" id="should-preview-data-checkbox" checked="checked"> <label id="should-preview-data-label" for="should-preview-data-checkbox">Preview Data Automatically? <a class="tooltip-modal has-tooltip" href="#" data-placement="left" data-toggle="tooltip" title="If checked, after you create or change a selection area, the data will appear immediately in a preview window. Uncheck if you want to select multiple tables without interruption. (Formerly named Multi-Select Mode)" ><i class="icon-question-sign" ></i></a></label>
        <br />
        <a href="#" id="help-start">Help</a>
      </div>
