      <div id="directionsRow" class="row">
        <div class="alert alert-info span7" >
          <button id="directions" type="button" class="close" data-dismiss="alert">×</button>
          <p><strong>How to use</strong>: make a rectangular selection over a table on the PDF pages. That's it!</p>
          <p><strong>Hint</strong>: table headers are (still) problematic. Try to exclude it from your selection.</p>
        </div>
      </div>
