<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">
      <div class="hero-unit">
        <h1>Tabula</h1>
        <h2>Upload Error</h2>
        <p><span id="message"><%= message %></span></p>
      </div> <!-- /hero-unit -->
    </div>
  </div>
</div>
