<!doctype html>
<!-- TABULA VERSION: <%= $TABULA_VERSION %> -->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />
    <link rel="stylesheet" type="text/css" href="/css/tabula_web.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-tour.css" />
    <title>Tabula</title>
    <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="/js/vendor/backbone-min.js"></script>
    <script type="text/javascript" src="/js/vendor/jcanvas.min.js"></script> <!-- for debug, I think? -JBM -->
    <script type="text/javascript" src="/js/vendor/spin.min.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
  </head>
  <body data-spy="scroll" data-target=".nav.sidebar-nav" data-offset="0">
    <div class="ribbon-wrapper-green" id="dev-mode-ribbon" style="display: none;"><div class="ribbon-green">DEV mode</div></div>

    <a href="https://github.com/jazzido/tabula" style="display: none;" id="fork-me-ribbon"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>


    <script type="text/javascript" src="/js/tabula.js"></script> <!-- actually starts Tabula -->


    <script type="text/javascript">
      $(function() {
          $("a[href='#about']").popover();
      });
    </script>

    <br>    <br>    <br>
    <div id="tabula">

    </div>



    <div id="templates">

      <script type="text/template" id="page-template" >
        <div class="row pdf-page" id="page-div-<%= number %>">
          <img class="page-image" src="<%= image_url %>"> 
          <br>
        </div>
      </script>
      <script type="text/template" id="thumbnail-template" >
        <a href="#page-<%= number %>"><img src="<%= image_url %>" width="100"></a>
        <span>
          <i title="delete this page" class="icon-remove delete-page"></i>
          <!-- i title="rotate this page right" class="icon-repeat rotate-left"></i>
          <i title="rotate this page left" class="icon-repeat flip rotate-right"></i -->
        </span>
        <br>Page <%= number %>
      </script>
      <script type="text/template" id="control-panel-template" >
        <button id="all-data" type="button" class="btn btn-success" data-position="left" data-intro="When you've selected all of the tables in your PDF, click this button to preview the data from all of the selections and download it." <%=disable_download_all%>>Download All Data</button>
          <!-- <button id="repeat-lassos" type="button" class="btn btn-primary">Repeat Page 1 Lassos</button> -->
        <button id="clear-all-selections" type="button" class="btn btn-danger" <%=disable_clear_all_selections%>>Clear All Selections</button>
        <button id="restore-detected-tables" type="button" class="btn btn-warning" style="<%=show_restore_detected_tables%>">Autodetect Tables</button>
        <br /><input type="checkbox" id="should-preview-data-checkbox" <%=if_multiselect_checked%> > <label id="should-preview-data-label" for="should-preview-data-checkbox">Preview Data Automatically? <a class="tooltip-modal has-tooltip" href="#" data-placement="left" data-toggle="tooltip" title="If checked, after you create or change a selection area, the data will appear immediately in a preview window. Uncheck if you want to select multiple tables without interruption. (Formerly named Multi-Select Mode)" ><i class="icon-question-sign" ></i></a></label>
        <br />
        <a href="#" id="help-start">Help</a>
      </script>
      <script type="text/template" id="modal-footer-template" >
        <form id="download-form" action="/pdf/<%=pdf_id%>/data?format=csv" method="post">
          <!-- the whole modal footer has to be inside a <form> so that the various download buttons work -->
          <div id="hidden-fields">
          <input type='hidden' class='data-query' name='coords' value='<%=list_of_coords%>' >
          </div>
          <div class="modal-footer">
            <div id="basic-options" class="modal-footer-row" style="width: 100%;">
              <span class="modal-footer-row-label">
              <label class="has-tooltip show-advanced-options toggle-advanced-options" data-placement="right" data-toggle="tooltip" title="Show Advanced Options"><i class="icon-wrench"></i> Need More Options?</label>
              
              </span>
              <!-- TODO: just a copy-to-clipboard-as-tsv option and download-as-csv -->
              <span style="display: none;">Copied!</span>

              <button class="btn btn-primary" type="button" id="copy-csv-to-clipboard" <%=copyDisabled%>>Copy to Clipboard</button>
              <button class="btn btn-primary download-btn" id="download-data" data-action='/pdf/<%=pdf_id%>/data?format=csv' value="CSV">Download CSV</button>

              <button id="close-modal" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
            <div id="advanced-options" class="modal-footer-row" style="width: 100%;">
              <span class="modal-footer-row-label">
                <label class="has-tooltip hide-advanced-options toggle-advanced-options" style="display: inline;" data-placement="right" data-toggle="tooltip" title="Hide Advanced Options"><i class="icon-remove"></i> Too Many Options? </label>
              </span>
              <label class="has-tooltip" style="display: inline;" for="extraction-method-btns" data-placement="left" data-toggle="tooltip" title="Advanced Users: Tabula has two different extraction methods for extracting data from different kinds of tables. It tries to select the right one automatically, but sometimes chooses incorrectly. Try switching the method if the extracted data doesn't come out right."><i class="icon-question-sign" ></i>Extraction Method: </label>
              <div class="btn-group" data-toggle="buttons-radio" id="extraction-method-btns" <%=extractionMethodDisabled%> >
                <button type="button" class="btn btn-warning extraction-method-btn" data-method="original" id="original-method-btn">Original</button>
                <button type="button" class="btn btn-warning extraction-method-btn" data-method="spreadsheet" id="spreadsheet-method-btn">Spreadsheet</button>
              </div>

              <div class="btn-group">
                  <button class="btn btn-primary download-dropdown dropdown-toggle" data-toggle="dropdown">Download Data As... <span class="caret"></span></button> <!-- TODO: add JSON -->
                  <ul class="dropdown-menu">
                    <li><input class="linklike download-btn" data-action="/pdf/<%=pdf_id%>/data?format=csv" type="submit" id="download-csv" value="CSV"></li>
                    <li><input class="linklike download-btn" data-action="/pdf/<%=pdf_id%>/data?format=tsv" type="submit" id="download-tsv" value="TSV"></li>
                    <li><input class="linklike download-btn" data-action="/pdf/<%=pdf_id%>/data?format=script" type="submit" id="download-script" value="tabula-extractor Script"></li>
                    <li><input class="linklike download-btn" data-action="/pdf/<%=pdf_id%>/data?format=bbox" type="submit" id="download-bbox" value="Bounding Boxes JSON"></li>
                  </ul>
              </div>
            </div>
          </div>
        </form>
      </script>

      <script type="text/template" id="pdf-view-template" >
        <div class="container-fluid" id="tabula-app">
          <div class="row-fluid">
            <div class="span2">
              <div class="nav well sidebar-nav affix">
              </div>
            </div> <!-- /sidebar container -->

            <div class="span6" id="main-container">

              <! -- help thingy -->
              <div id="directionsRow" class="row">
                <div class="alert alert-info span7" >
                  <button id="directions" type="button" class="close">×</button>
                  <p><strong>How to use</strong>: make a rectangular selection over a table on the PDF pages. That's it!</p>
                  <p><strong>Hint</strong>: table headers are (still) problematic. Try to exclude it from your selection.</p>
                </div>
              </div>

              <div class="row" id="#document">
                <!-- pages go here -->
              </div>

            </div> <!-- /main container -->

            <div class="span2" id="control-panel-container">
            </div> <!-- followyouaround bar container -->
          </div>
        </div>

        <div id="modal-error" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Sorry, there's been an error</h3>
            </div>
            <div class="modal-body">
                <p><strong>Tabula</strong> couldn't finish processing your request. We'd appreciate if you could <a href="https://github.com/jazzido/tabula/issues/new">report this error in our issue tracker</a>. If possible, please include the document that caused the error and the text below.</p>
                <textarea></textarea>
            </div>
            <div class="modal-footer"></div>
        </div>

        <div id="data-modal" class="modal dialog-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">  
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Extracted tabular data</h3>
          </div>
          <div class="alert alert-success" id="loading"><span id="spinner"></span><span style="position: relative; left: 16px; font-size: 24px;">Loading...</span></div>
          <div class="modal-body">
          </div>
          <div class="modal-footer-container">
          </div>

        </div>

        <script type="text/javascript" src="/js/jquery.imgareaselect.js"></script>
        <script type="text/javascript" src="/js/vendor/bootstrap-tour.min.js"></script>

        <script type="text/javascript" src="/js/vendor/ZeroClipboard.min.js"></script>
        <script type="text/javascript" src="/js/vendor/table2CSV.js"></script>
        <!-- <script type="text/javascript" src="/js/pdf_view.js"></script> --> <!-- cachebuster: last update time of JS. -->
        <script type="text/javascript">
                                                                                             var SPINNER_OPTS = {
                      lines: 10, // The number of lines to draw
                      length: 5, // The length of each line
                      width: 2, // The line thickness
                      radius: 5, // The radius of the inner circle
                      corners: 1, // Corner roundness (0..1)
                      rotate: 0, // The rotation offset
                      direction: 1, // 1: clockwise, -1: counterclockwise
                      color: '#000', // #rgb or #rrggbb
                      speed: 1.1, // Rounds per second
                      trail: 60, // Afterglow percentage
                      shadow: false, // Whether to render a shadow
                      hwaccel: true, // Whether to use hardware acceleration
                      className: 'spinner', // The CSS class to assign to the spinner
                      zIndex: 2e9, // The z-index (defaults to 2000000000)
                      top: 'auto', // Top position relative to parent in px
                      left: 'auto' // Left position relative to parent in px
                  };
         new Spinner(SPINNER_OPTS).spin($('#spinner').get(0));
        </script>
      </script>

      <script type="text/template" id="navbar-template">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/"><strong>Tabula</strong> is experimental software</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="#about" rel="popover" data-html="true" data-placement="bottom" data-content="<p><strong>Tabula</strong> is a tool to help liberate data tables trapped inside PDF files</p><br><p>It was created by <a href='http://jazzido.com' target='_blank'>Manuel Aristarán</a> with the help of <a href='http://propublica.org'>ProPublica</a>, <a href='http://blogs.lanacion.com.ar/data/'>La Nación DATA</a> and <a href='http://www.mozillaopennews.org/'>Knight-Mozilla OpenNews</a></p>" data-title="What is <strong>Tabula</strong>?">About</a></li>
                </ul>

              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
      </script>

      <script type="text/template" id="upload-template">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span6 offset3">

              <ul class="unstyled inline">
                <li>
                  <iframe src="http://ghbtns.com/github-btn.html?user=jazzido&repo=tabula&type=fork&count=true"allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                </li>
                <li>
                  <iframe src="http://ghbtns.com/github-btn.html?user=jazzido&repo=tabula&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                </li>
              </ul>
              <div class="hero-unit" style="padding-left:50px;">
                <img src="/img/logo.png" class="big-retina-illustration pull-left" style="margin:10px 10px 0 0; width:70px;">
                <h1>Tabula </h1>
                <p>Liberate data tables trapped inside PDF files</p>
              </div> <!-- /hero-unit -->

              <div class="alert alert-warning alert-dismissable" id="update-alert" style="display: none;">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong>New version!</strong> <a href="">Tabula <span id="new-version">version</span></a> is available (you have <span id="installed-version"><%= TABULA_VERSION %></span>)
              </div>

              <div class="alert alert-warning alert-dismissable" id="custom-alert" style="display: none;">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong>New version!</strong> <span class="custom-alert-body"></span>
              </div>

              <div id="demo">

                <div class="row-fluid">
                  <div class="span6">
                    <div class="page-header">
                      <h4>Upload a PDF</h4>
                    </div>
                    <form action="/upload" enctype="multipart/form-data" method="post">
                      <input type="checkbox" name="autodetect-tables" id="autodetect-tables">
                      <label for="autodetect-tables" style="display: inline;">Auto-Detect Tables</label>
                      <div id="autodetect-explainer" class="explanation-label">Table auto-detection can be time-consuming, especially for large PDFs.</div>
                      <input name="file" type="file" id="file" accept="application/pdf">
                      <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                  </div>

                  <div class="span6">
                    <div class="page-header">
                      <h4>Uploaded files</h4>
                    </div>
                    <div id="uploaded-files-container"></div>
                  </div>
                </div>
              </div>
              <script type="text/javascript"> 
                  var TABULA_VERSION = '<%= TABULA_VERSION %>';
              </script>
              <script type="text/javascript" src="/js/file-library.js"></script>
              <script type="text/javascript" src="/js/update-notifications.js"></script>

              <br><br><hr>
              <p><strong>Tabula</strong> was created by <a href="http://jazzido.com/" target="_blank">Manuel Aristarán</a> with the help of <a href="http://propublica.org">ProPublica</a>, <a href="http://blogs.lanacion.com.ar/data/">La Nación DATA</a> and <a href="http://www.mozillaopennews.org/">Knight-Mozilla OpenNews</a></p>
            </div>
          </div>
        </div>

        <div id="notifications-modal" class="modal dialog-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Welcome to Tabula!</h3>
          </div>
          <div class="modal-body">
            <p>Would you like to be notified in this app of announcements and updates to Tabula?</p>
            <p style="font-size: small;">If notifications are on, Tabula will load a feed of release info and a feed of announcements from Github. Tabula never sends your documents or any of your personal information or data to any remote server. We may use traffic statistics from these feeds to count how many people are using Tabula.</p>
            <p><input type="checkbox" name="update_notifications" id="update-notifications">Yes, please notify me.</p>
            <button type="button" class="btn" onclick="$('#notifications-modal').modal('hide')">Close</button>
          </div>
          <div class="modal-footer" style="position: relative">
          </div>
        </div>
      </script>

      <script type="text/template" id="uploaded-files-template">
        <ul id="uploadedfiles">
          <% _(workspace).each(function(file){ %>
            <li>
              <a href="/pdf/<%= file['id'] %>"><%= file['file'] %></a> 
              <span>(<%= file['time'] %>)</span>
              <button class="icon-remove"></button>
            </li>
          <% }) %>
        </ul>
      </script>

      <script type="text/template" id="upload-error-template" >
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span6 offset3">
              <div class="hero-unit">
                <h1>Tabula</h1>
                <h2>Upload Error</h2>
                <p><span id="message"><%= message %></span></p>
              </div> <!-- /hero-unit -->
            </div>
          </div>
        </div>
      </script>

      <script type="text/template" id="upload-status-template">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span6 offset3">
              <div class="hero-unit">
                <h1>Tabula</h1>
                <h2>Processing File</h2>
                <div class="progress progress-striped active">
                  <div class="bar" style="width: <%= pct_complete %>%; "></div>
                </div>
                <div id="spinner" style="display:block;float:left;width:2em;height:1em;margin:3px 0 0 0"></div>

                <p><span id="percent"><%= pct_complete %>%</span><span id="message"><% if status %>: <%= status.first %><% elsif pct_complete == 0 %>: waiting to be processed...<% end %></span></p>
              </div> <!-- /hero-unit -->
            </div>
          </div>
        </div>
      </script>

    </div> <!-- /templates -->
  </body>
</html>
