/* line 1, ../sass/selectors.scss */
.thumbnail-list li div.selection-show {
  position: absolute;
  border: 1px dashed red;
  display: none;
}

/* selections */
/* line 8, ../sass/selectors.scss */
.repeat-lassos.btn {
  position: absolute;
  right: -165px;
  bottom: -35px;
}

/* rectangularSelector.js classes */
/* line 15, ../sass/selectors.scss */
.selection-box, .table-region {
  position: absolute;
  border: 1px dashed rgba(255, 87, 0, 0.8);
  background: rgba(255, 87, 0, 0.2);
  box-sizing: border-box;
}
/* line 23, ../sass/selectors.scss */
.selection-box:hover, .table-region:hover {
  cursor: pointer;
}

/* line 28, ../sass/selectors.scss */
.selection-box {
  z-index: 42;
  width: 0;
  height: 0;
  visibility: hidden;
}

/* line 35, ../sass/selectors.scss */
.table-region {
  top: 0;
  left: 0;
  z-index: 21;
}

/* line 121, ../sass/selectors.scss */
div.table-region button[name=close] {
  font-weight: bold;
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  position: relative;
  top: -20px;
  left: 100%;
}

/* line 132, ../sass/selectors.scss */
div.table-region button[name=close]:hover {
  color: red;
}

/* line 138, ../sass/selectors.scss */
div.table-region .e-border:hover {
  cursor: e-resize;
}
