/* line 1, ../sass/selectors.scss */
.thumbnail-list li div.selection-show {
  position: absolute;
  border: 1px dashed red;
  display: none;
}

/* selections */
/* line 8, ../sass/selectors.scss */
.repeat-lassos.btn {
  position: absolute;
  right: -165px;
  bottom: -35px;
}

/* rectangularSelector.js classes */
/* line 15, ../sass/selectors.scss */
.selection-box, .table-region {
  position: absolute;
  border: 1px dashed rgba(255, 87, 0, 0.8);
  background: rgba(255, 87, 0, 0.2);
  box-sizing: border-box;
}
/* line 23, ../sass/selectors.scss */
.selection-box:hover, .table-region:hover {
  cursor: pointer;
}

/* line 28, ../sass/selectors.scss */
.selection-box {
  z-index: 42;
  width: 0;
  height: 0;
  visibility: hidden;
}

/* line 35, ../sass/selectors.scss */
.table-region {
  top: 0;
  left: 0;
  z-index: 21;
}

/* line 42, ../sass/selectors.scss */
div.table-region .resize-handle {
  position: absolute;
}

/* line 50, ../sass/selectors.scss */
div.table-region .n-border {
  width: 100%;
  top: 0;
  left: 0;
  height: 10px;
}

/* line 56, ../sass/selectors.scss */
div.table-region .n-border:hover {
  cursor: n-resize;
}

/* line 60, ../sass/selectors.scss */
div.table-region .nw-border {
  width: 10px;
  height: 10px;
  top: -5px;
  left: -5px;
}

/* line 65, ../sass/selectors.scss */
div.table-region .nw-border:hover {
  cursor: nw-resize;
}

/* line 69, ../sass/selectors.scss */
div.table-region .ne-border {
  width: 10px;
  height: 10px;
  top: -5px;
  right: -5px;
}

/* line 74, ../sass/selectors.scss */
div.table-region .ne-border:hover {
  cursor: ne-resize;
}

/* line 78, ../sass/selectors.scss */
div.table-region .s-border {
  width: 100%;
  bottom: 0px;
  height: 10px;
}

/* line 84, ../sass/selectors.scss */
div.table-region .s-border:hover {
  cursor: s-resize;
}

/* line 88, ../sass/selectors.scss */
div.table-region .sw-border {
  width: 10px;
  height: 10px;
  bottom: -5px;
  left: -5px;
}

/* line 93, ../sass/selectors.scss */
div.table-region .sw-border:hover {
  cursor: sw-resize;
}

/* line 97, ../sass/selectors.scss */
div.table-region .se-border {
  width: 10px;
  height: 10px;
  bottom: -5px;
  right: -5px;
}

/* line 102, ../sass/selectors.scss */
div.table-region .se-border:hover {
  cursor: se-resize;
}

/* line 106, ../sass/selectors.scss */
div.table-region .w-border {
  height: 100%;
  left: 0;
  width: 10px;
}

/* line 112, ../sass/selectors.scss */
div.table-region .w-border:hover {
  cursor: w-resize;
}

/* line 116, ../sass/selectors.scss */
div.table-region .e-border {
  height: 100%;
  right: 0px;
  width: 10px;
}

/* line 123, ../sass/selectors.scss */
div.table-region button[name=close] {
  font-weight: bold;
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  position: relative;
  top: -20px;
  left: 100%;
}

/* line 134, ../sass/selectors.scss */
div.table-region button[name=close]:hover {
  color: red;
}

/* line 140, ../sass/selectors.scss */
div.table-region .e-border:hover {
  cursor: e-resize;
}
