.sidebar-nav {
    height: 85% !important;
    overflow: auto !important;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


/* Thumbnails */
  .thumbnail-list {
      margin-left: 0;
      list-style-type: none;
  }

  .thumbnail-list li {
      margin: 5px;
      text-align: center;
      margin-bottom: 15px;
      display: block;
      position: relative;
      top: 0; left: 0;
  }

  .thumbnail-list li span {
    visibility: hidden;
    width: 100px !important;
    position: relative;
  }

  .thumbnail-list li span i {
    opacity: 0.3;
    position: relative;
  }

  .thumbnail-list li:hover span {
    visibility: visible;
  }

  .thumbnail-list li:hover span i:hover {
    opacity: 1;
  }

  .thumbnail-list li:hover {
      cursor: pointer;
      background-color: #ddd;
  }

  .thumbnail-list li img {
      display: block; 
      position: relative; top: 0; left: 0;
  }

  .thumbnail-list li div.selection-show {
      position: absolute;
      border: 1px dashed red;
      display: none;
  }

/* full pages */

  img.page-image {
      border: 1px solid #888888;
      margin-bottom: 16px;
      display: block;
      display: inline-block;
  }

/* modals */

  .dialog-modal {
    width: 80%;
    margin: -170px 0 0 -40%;
    max-height: 500px;
  }

  .modal .modal-footer{
    position: relative;
  }

  .modal .modal-footer .modal-footer-row-label{
    float: left;
    font-weight: bold;
  }

  .modal-footer-row:not(:first-of-type){
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
  }

  #advanced-options{
    display: none;
  }

  .toggle-advanced-options{
    cursor: select;
  }

  #data-modal .modal-body {
    overflow: auto;
  }

  #modal-error {
    width: 60%;
    margin: -10px 0 0 -30%;
    max-height: 500px;
  }

  #modal-error textarea {
    width: 98%;
    font-family: monospace;
    height: 350px;
  }

  .modal.fade.in.dialog-modal {
    top: 30% !important;
  }

  .modal-body table, .modal-body table:focus {
    outline: 0px solid transparent;
  }

  .modal-body td:hover {
    background-color: #cccccc;
  }

  .debug-canvas {
    position: absolute;
    z-index: 1000;
  }

  #loading {
    padding: 20px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  form#download-form{
    margin: 0px;
  }
  form#download-form input.linklike{
    border: none;
    width: 100%;
    text-align: right;
    background: none;
  }
  form#download-form input.linklike:hover{
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top,#08c,#0077b3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
    background-image: -webkit-linear-gradient(top,#08c,#0077b3);
    background-image: -o-linear-gradient(top,#08c,#0077b3);
    background-image: linear-gradient(to bottom,#08c,#0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);
  }

  div.spinner {
    top: 10px !important;
  }

/* front page */

  ul#uploadedfiles {
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
    margin: 0;
  }

  ul#uploadedfiles li span {
    font-size: 70%;
    color: #ddd;
  }

  ul#uploadedfiles li button {
    border: 0;
    background-color: transparent;
    visibility: hidden;
    margin-left: 5px;
    opacity: 0.7;
  }


  ul#uploadedfiles li:hover button {
    visibility: visible;
  }

/* sidebar */
  .followyouaroundbar.affix {
    width: 15%;
  }
  .followyouaroundbar button{
    margin-bottom: 5px;
  }
  .followyouaroundbar label#should-preview-data-label{
    display: inline;
  }

  label#use-lines-label{
    display: inline;
  }

  a#help-start{
    font-size: 16px;
    text-decoration: underline;
    color: blue;
  }

  div.explanation-label {
    padding: 6px 15px 10px 15px;
    color: #888;
    font-size: 85%;
  }


/* dev mode ribbon */
 
  .ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: fixed;
    top: -3px;
    right: -3px;
    z-index: 10000;
  }
   
  .ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  }
   
  .ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;   
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
  }
   
  .ribbon-green:before {
    left: 0;
  }
  .ribbon-green:after {
    right: 0;
  }
